{# ################################################################################## #}
{# HOULALA QUE BORDEL DANS LA NUMEROTATION ! A CAUSE DE nodata #}
<div id="tab4" class="onglet">

    <h2>Formation</h2>

    
    <h4>Êtes-vous intéressés par des formations organisée par {{mesoc}} ou un partenaire ? <br>
    <em><small>Si oui cochez indiquez le nombre de collaborateurs éventuellement intéressés</small></em></h4>

    <table>
        <tr>
            <th>Code</th>
            <th>Titre</th>
            <th>Nombre</th>
        </tr>
        {% for f in formation_form.children.formation.children %}
        <tr>
            <td>{{ f.vars.data.formation.acroForm}}</td>
            <td>{{f.vars.data.formation.nomForm}}</td>
            <td>{{form_widget(f)}}</td>
        </tr>
        {% endfor %}
    </table>

    <p>&nbsp;</p>
    <div class="information ok"><p><strong>Contenu détaillé des formations</strong> ici:
        <a href="{{ mesoc_formation }}">{{mesoc_formation}}</a></strong></p></div>


</div>
