{% extends 'default/base.html.twig' %}
{% import "default/macros.html.twig" as gramcmacros %}
{% import "default/icone.html.twig" as icones %}

{% block body %}
<section style="stroke:black">
    <h1>Formations enregistrées dans gramc</h1>

    <div class="information">
        <h2>Gérer les formations proposées</h2>
        <ul>
            <li>Les formations seront proposées dans l'ordre donné par la colonne "numéro d'ordre"</li>
            <li>Les formations proposées aux utilisateurs lorsqu'ils écrivent leur projet sont celles dont la date
            "Pas avant" et la date "Pas après" encadre la date du jour</li>
        </ul>
    </div>

    {{ gramcmacros.menu(menu) }}
    
    <table id="datatable" class="display">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Numéro d'ordre</th>
            <th>Acronyme</th>
            <th>Libellé</th>
            <th>Pas avant</th>
            <th>Pas après</th>
        </tr>
    </thead>
    <tbody>
    {% for form in formations %}
        <tr>

            <td>
                <a class="suppression" href="{{ path('supprimer_formation',{'id' : form.id }) }}" title="Supprimer">
                {{ icones.supprimer }}
                </a>
                <a class="modification" href="{{ path('modifier_formation',{'id' : form.id }) }}" title="Modifier le libellé">
                    {{ icones.modifier }}
                </a>
            </td>
            <td>{{ form.numeroform }}</td>
            <td> {{ form.acroform }}</td>
            <td>{{ form.nomform }}</td>
            <td>{{ form.startdate|date("d/m/Y") }}</td>
            <td>{{ form.enddate |date("d/m/Y") }}</td>
        </tr>
    {% endfor %}
    </tbody>
        <tfoot>
            <tr>
                <th>&nbsp;</th>
                <th>Numéro d'ordre</th>
                <th>Acronyme</th>
                <th>Libellé</th>
                <th>Pas avant</th>
                <th>Pas après</th>
            </tr>
        </tfoot>
    </table>
</section>

{% endblock body  %}
