{% extends 'default/base.html.twig' %}
{% import "default/macros.html.twig" as gramcmacros %}
{% import "default/icone.html.twig" as icones %}

{% block body %}
<section style="stroke:black">
    <h1>Formations enregistrées dans gramc</h1>

    <div class="information">
        <h2>Gérer les formations proposées</h2>
        <ul>
            <li>Les formations seront proposées dans l'ordre donné par la colonne "numéro d'ordre"</li>
            <li>Les formations proposées aux utilisateurs lorsqu'ils écrivent leur projet sont celles dont la date
            "Pas avant" et la date "Pas après" encadre la date du jour</li>
        </ul>
    </div>

    {{ gramcmacros.menu(menu) }}
    
    <table id="formations" >
    <thead>
        <tr>
            {% if is_granted('ROLE_ADMIN') %}<th colspan="2">&nbsp;</th>{% endif %}<th>Numéro d'ordre</th><th>Acronyme</th><th>Libellé</th><th>Pas avant</th><th>Pas après</th>
        </tr>
    </thead>
    <tbody>
    {% for form in formations %}
        <tr>
            {% if is_granted('ROLE_ADMIN') %}
            <td>
                <a class="suppression" href="{{ path('supprimer_formation',{'id' : form.id }) }}" title="Supprimer">
                {{ icones.supprimer }}
                </a>
            </td>
            <td>
                <a class="modification" href="{{ path('modifier_formation',{'id' : form.id }) }}" title="Modifier le libellé">
                {{ icones.modifier }}
                </a>
            </td>
            {% endif %}
            <td>{% if form.numeroform<10 %}{{ form.numeroform }}{% else %} <em>aucun</em> (n°{{form.numeroform}}){% endif %}</td>
            <td> {{ form.acroform }}</td>
            <td>{{ form.nomform }}</td>
            <td>{{ form.startdate|date("d/m/Y") }}</td>
            <td>{{ form.enddate |date("d/m/Y") }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</section>

{% endblock body  %}
