{% extends 'default/base.html.twig' %}

{% block body %}
<section>
<h2>Modification d'une formation</h2>
    {% import "default/macros.html.twig" as gramcmacros %}

    {{ form_start(edit_form) }}
    <table>
        <tr>
            <th>{{ form_label(edit_form.numeroform) }}</th>
            <td>{{ form_widget(edit_form.numeroform) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(edit_form.acroform) }}</th>
            <td>{{ form_widget(edit_form.acroform) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(edit_form.nomform) }}</th>
            <td>{{ form_widget(edit_form.nomform) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(edit_form.startdate) }}</th>
            <td>{{ form_widget(edit_form.startdate) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(edit_form.enddate) }}</th>
            <td>{{ form_widget(edit_form.enddate) }}</td>
        </tr>
        <tr>
            <th></th>
            <td class="inputrond submitdyn">{{ form_widget(edit_form.submit) }}{{ form_widget(edit_form.reset) }}</td>
        </tr>    
    </table>
    {{ form_end(edit_form) }}

    {{ gramcmacros.menu(menu) }}

</section>

{% endblock body %}
