{% extends 'default/base.html.twig' %}

{% block body %}
<div class="card-body p-4">
    <h5 class="card-title fw-semibold mb-4">Notifications</h5>
    <div class="table-responsive">
        <div class="formulaire inputrond mb-3">
            {{ form_start(form) }}
            {{ form_widget(form.update) }}
            {{ form_end(form) }}
        </div>
        <table class="table text-nowrap mb-0 align-middle">
            <thead class="text-dark fs-4">
            <tr>
                <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Lu</h6>
                </th>
                <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">date</h6>
                </th>
                <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">sujet</h6>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for notification in notifications %}
                    {% if notification.lu == false %}
                        <tr class="bg-light-indigo">
                        <td class="border-bottom-0">
                            <i class="ti ti-eye-off"></i>
                        </td>
                    {% else %}
                        <tr>
                        <td class="border-bottom-0">
                            <i class="ti ti-eye"></i>
                        </td>
                    {% endif %}
                <td class="border-bottom-0"><h6 class="fw-semibold mb-0">{{ notification.dateCreation|date("m/d/Y") }}</h6></td>
                    <td class="border-bottom-0">
                        <h6 class="fw-semibold mb-1">{{ notification.sujet }}</h6>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

