{% extends 'default/base.html.twig' %}
{% import "default/macros.html.twig" as gramcmacros %}
{% import "default/icone.html.twig" as icones %}


{% block body %}
<section style="stroke:black">
    <h1>Thématiques</h1>

    <div class="information">Les projets sont associés à des <strong>thématiques scientifiques</strong>. A chaque thématique correspond 
    <strong>un ou plusieurs experts</strong>. La liste des experts associés à chaque thématique est utilisée lors de l'attribution automatique d'un expert.</strong>
    </div>

    {{ gramcmacros.menu(menu) }}

    <table id="datatable" class="display">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th>Libellé</th>
    </tr>
    </thead>
    <tbody>
    {% for thema in thematiques %}
        <tr>
            <td>
                <a class="suppression" href="{{ path('supprimer_thematique',{'id' : thema.idThematique }) }}" title="Supprimer">
                    {{ icones.supprimer }}
                </a>
                <a class="modification" href="{{ path('modifier_thematique',{'id' : thema.idThematique }) }}" title="Modifier le libellé">
                    {{ icones.modifier }}
                </a>
            </td>
            <td>{{ thema.libelleThematique }}</td>
        </tr>
    {% endfor %}
    </tbody>
        <tfoot>
            <tr>
                <th>&nbsp;</th>
                <th>Libellé</th>
            </tr>
        </tfoot>
    </table>
</section>

{% endblock body  %}
