{# app/Resources/views/default/accueil.html.twig #}
{% extends 'default/base.html.twig' %}

{% import "default/macros.html.twig" as gramcmacros %}

{% block body %}
<section>

{# message #}

{% if is_granted('IS_AUTHENTICATED_FULLY') %}

<h1>Bonjour {{ app.user.prenom }} {{ app.user.nom }} </h1> 

<div class="center"><img src="{{ asset('icones/banniere.png') }}" alt="logo" style="width: 25%;margin:0 auto;" /></div>

<h2>Le mésocentre des mésocentres</h2>

{% else %}

<div class="center"><img src="{{ asset('icones/banniere.png') }}" alt="logo" style="width: 25%;margin:0 auto;" /></div>

<h2>Le mésocentre des mésocentres</h2>

<div class="information ok"><h2>Démarrage</h2>
Merci de cliquer sur connexion en haut à droite de l'écran pour démarrer.<br>
Vous devrez utiliser les identifiants de votre établissement d'appartenance.
(Si vous ne comprenez pas ce message, merci de <em><a href="mailto:{{ mailadmin }}">prendre contact avec nous</a></em>)
</div>

{% endif %}

</section>
<br>
{% endblock %}
