{# app/Resources/views/default/base.html.twig #}

{% import "default/macros.html.twig" as gramcmacros %}

{% import "default/icone.html.twig" as icones %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Plateforme d'attribution de ressources de {{ mesoc }}</title>
    <link rel="icon" href="{{ absolute_url(asset('icones/favicon.ico')) }}"/>

    {% block stylesheets %}

        <link href="{{ absolute_url(asset('js/jquery-ui/jquery-ui.css')) }}" rel="stylesheet" type="text/css"
              media="screen"/>
        <link href="{{ absolute_url(asset('js/jquery-upload-file-master/css/uploadfile.css') ) }}" rel="stylesheet"
              type="text/css" media="screen"/>
        <link href="{{ absolute_url(asset('js/DataTables-1.11.5/css/jquery.dataTables.min.css') ) }}" rel="stylesheet"
              type="text/css" media="screen"/>
        <link href="{{ absolute_url(asset('css/styles.css')) }}" rel="stylesheet" type="text/css" media="screen"/>
        <link href="{{ absolute_url(asset('css/colors.css')) }}" rel="stylesheet" type="text/css" media="screen"/>
        <link href="{{ absolute_url(asset('css/gramc3.css')) }}" rel="stylesheet" type="text/css" media="screen"/>
    {% endblock stylesheets %}

    {% block mystyles %}
    {% endblock mystyles %}

    {% block javascripts %}
        <script src="{{ absolute_url(asset('js/jquery-3.6.0.min.js') ) }}"></script>
        <script src="{{ absolute_url(asset('js/jquery-ui/jquery-ui.js') ) }}"></script>
        <script src="{{ absolute_url(asset('js/header_fixe.js') ) }}"></script>
        <script src="{{ absolute_url(asset('js/base.js') ) }}"></script>
        <script src="{{ absolute_url(asset("libs/bootstrap/dist/js/bootstrap.bundle.min.js")) }}"></script>
        <script src="{{ absolute_url(asset("js/sidebarmenu.js")) }}"></script>
        <script src="{{ absolute_url(asset("js/app.min.js")) }}"></script>
        <script src="{{ absolute_url(asset("libs/apexcharts/dist/apexcharts.min.js")) }}"></script>
        <script src="{{ absolute_url(asset("libs/simplebar/dist/simplebar.js")) }}"></script>
        <script src="{{ absolute_url(asset("js/dashboard.js")) }}"></script>
    {% endblock javascripts %}

    {% block myjavascripts %}
    {% endblock myjavascripts %}

    {% block datatables %}
        <script src="{{ absolute_url(asset('js/DataTables-1.11.5/js/jquery.dataTables.min.js') ) }}"></script>
        <script src="{{ absolute_url(asset('js/datatable.js') ) }}"></script>
    {% endblock datatables %}

</head>

<body>
{% block header %}
{% if not app.request.xmlhttprequest %}
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="side">
            <div class="brand-logo d-flex align-items-center justify-content-center">
                <a href="{{ path('accueil') }}" class="text-nowrap logo-img" title="Accueil">
                    <img src="{{ asset('icones/banniere.jpg') }}" width="180" alt="logo"/>
                </a>
                <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                    <i class="ti ti-x fs-8"></i>
                </div>
            </div>
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                <ul id="sidebarnav">
                    <li class="nav-small-cap">
                        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                        <span class="hide-menu">Projet</span>
                    </li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% if is_granted('ROLE_DEMANDEUR') %}
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="{{ path('projet_accueil') }}" aria-expanded="false"
                                   title="Accéder à la dashboard des projets">
                                    <i class="ti ti-layout-dashboard"></i>
                                    <span class="hide-menu">Dashboard</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="{{ path('projet_accueil') }}" aria-expanded="false"
                                   title="Accéder à la liste des projets">
                                    <i class="ti ti-clipboard"></i>
                                    <span class="hide-menu">Liste des projets</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="{{ path('nouveau_projet',{type:4}) }}" aria-expanded="false"
                                   title="Crée un nouveau projet">
                                    <i class="ti ti-clipboard-plus"></i>
                                    <span class="hide-menu">Nouveau Projet</span>
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% if is_granted('ROLE_VALIDEUR') %}
                            <li class="nav-small-cap">
                                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                                <span class="hide-menu">VALIDEUR</span>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="{{ path('expertise_liste_dyn') }}" aria-expanded="false"
                                   title="Accéder à l'espace valideur">
                                <i class="ti ti-clipboard-check"></i>
                                <span class="hide-menu">Projet à valider</span>
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% if is_granted('ROLE_OBS') %}
                            <li class="nav-small-cap">
                                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                                <span class="hide-menu">ADMIN</span>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="{{ path('individu_gerer') }}" aria-expanded="false"
                                   title="Utilisateur">
                                    <i class="ti ti-users"></i>
                                    <span class="hide-menu">Utilisateur</span>
                                </a>
                            </li>
                            {% if app.request.get('_route') == 'individu_gerer' or app.request.get('_route') == 'invitations'  %}
                                <li class="sidebar-item sous-menu">
                                    <a class="sidebar-link " href="{{ path('invitations') }}" aria-expanded="false"
                                       title="Invitation">
                                        <i class="ti ti-mail"></i>
                                        <span class="hide-menu sous-menu-span">Invitation</span>
                                    </a>
                                </li>
                            {% endif %}
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="{{ path('projet_dynamique') }}" aria-expanded="false"
                                   title="Projets">
                                    <i class="ti ti-calendar"></i>
                                    <span class="hide-menu">Projets</span>
                                </a>
                            </li>
                            {% if app.request.get('_route') == 'projet_dynamique' or app.request.get('_route') == 'rallonge_dynamique' or app.request.get('_route') == 'televersement_generique' %}
                                <li class="sidebar-item sous-menu">
                                    <a class="sidebar-link " href="{{ path('rallonge_dynamique') }}" aria-expanded="false"
                                       title="Demandes d'extension">
                                        <i class="ti ti-calendar"></i>
                                        <span class="hide-menu sous-menu-span"> Extension</span>
                                    </a>
                                </li>
                                <li class="sidebar-item sous-menu">
                                    <a class="sidebar-link " href="{{ path('televersement_generique') }}" aria-expanded="false"
                                       title="Téléversements">
                                        <i class="ti ti-file-upload"></i>
                                        <span class="hide-menu sous-menu-span">Téléversements</span>
                                    </a>
                                </li>
                            {% endif %}
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="{{ path('gerer_formations') }}" aria-expanded="false"
                                   title="Tables de l'application">
                                    <i class="ti ti-school"></i>
                                    <span class="hide-menu">Tables de l'application</span>
                                </a>
                            </li>
                            {% if app.request.get('_route') == 'gerer_formations' or app.request.get('_route') == 'gerer_laboratoires' or app.request.get('_route') == 'gerer_thematiques' or app.request.get('_route') == 'gerer_serveurs' or app.request.get('_route') == 'gerer_ressources' %}
                                <li class="sidebar-item sous-menu">
                                    <a class="sidebar-link " href="{{ path('gerer_laboratoires') }}" aria-expanded="false"
                                       title="Laboratoires">
                                        <i class="ti ti-microscope"></i>
                                        <span class="hide-menu sous-menu-span">Laboratoires</span>
                                    </a>
                                </li>
                                <li class="sidebar-item sous-menu">
                                    <a class="sidebar-link " href="{{ path('gerer_etablissements') }}" aria-expanded="false"
                                       title="Établissements">
                                        <i class="ti ti-microscope"></i>
                                        <span class="hide-menu sous-menu-span">Etablissements</span>
                                    </a>
                                </li>
                                <li class="sidebar-item sous-menu">
                                    <a class="sidebar-link " href="{{ path('gerer_thematiques') }}" aria-expanded="false"
                                       title="Thématiques">
                                        <i class="ti ti-atom"></i>
                                        <span class="hide-menu sous-menu-span">Thématiques</span>
                                    </a>
                                </li>
                                <li class="sidebar-item sous-menu">
                                    <a class="sidebar-link " href="{{ path('gerer_serveurs') }}" aria-expanded="false"
                                       title="Serveurs">
                                        <i class="ti ti-server"></i>
                                        <span class="hide-menu sous-menu-span">Serveurs</span>
                                    </a>
                                </li>
                                <li class="sidebar-item sous-menu">
                                    <a class="sidebar-link " href="{{ path('gerer_ressources') }}" aria-expanded="false"
                                       title="Ressources">
                                        <i class="ti ti-server-2"></i>
                                        <span class="hide-menu sous-menu-span">Ressources</span>
                                    </a>
                                </li>
                            {% endif %}
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="{{ path('statistiques_dyn') }}" aria-expanded="false"
                                   title="Bilans et statistiques">
                                    <i class="ti ti-graph"></i>
                                    <span class="hide-menu">Bilans & stats</span>
                                </a>
                            </li>
                            {% if app.request.get('_route') == 'statistiques_dyn' or app.request.get('_route') == 'statistiques_formation'or app.request.get('_route') == 'publication_annee'  %}
                                <li class="sidebar-item sous-menu">
                                    <a class="sidebar-link " href="{{ path('statistiques_formation') }}" aria-expanded="false"
                                       title="Demande de formation">
                                        <i class="ti ti-school"></i>
                                        <span class="hide-menu sous-menu-span">Formation</span>
                                    </a>
                                </li>
                                <li class="sidebar-item sous-menu">
                                    <a class="sidebar-link " href="{{ path('publication_annee') }}" aria-expanded="false"
                                       title="Publication">
                                        <i class="ti ti-books"></i>
                                        <span class="hide-menu sous-menu-span">Publication</span>
                                    </a>
                                </li>
                            {% endif %}
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="{{ path('journal_list') }}" aria-expanded="false"
                                   title="Maintenance">
                                    <i class="ti ti-book"></i>
                                    <span class="hide-menu">Maintenance</span>
                                </a>
                            </li>
                            {% if app.request.get('_route') == 'journal_list' or app.request.get('_route') == 'connexions' or app.request.get('_route') == 'param_avancer' or app.request.get('_route') == 'mail_tester' or app.request.get('_route') == 'phpinfo' or app.request.get('_route') == 'rgpd' %}
                                <li class="sidebar-item sous-menu">
                                    <a class="sidebar-link" href="{{ path('connexions') }}" aria-expanded="false"
                                       title="Personnes connectées">
                                        <i class="ti ti-user-exclamation"></i>
                                        <span class="hide-menu sous-menu-span">Personnes connectées</span>
                                    </a>
                                </li>
                                <li class="sidebar-item sous-menu">
                                    <a class="sidebar-link" href="{{ path('param_avancer') }}" aria-expanded="false"
                                       title="Avancer dans le temps">
                                        <i class="ti ti-clock "></i>
                                        <span class="hide-menu sous-menu-span">Avancer dans le temps</span>
                                    </a>
                                </li>
                                <li class="sidebar-item sous-menu">
                                    <a class="sidebar-link " href="{{ path('mail_tester') }}" aria-expanded="false"
                                       title="Tester le système de mail">
                                        <i class="ti ti-mail"></i>
                                        <span class="hide-menu sous-menu-span">Tester le mail</span>
                                    </a>
                                </li>
                                <li class="sidebar-item sous-menu">
                                    <a class="sidebar-link " href="{{ path('phpinfo') }}" aria-expanded="false"
                                       title="infos techniques">
                                        <i class="ti ti-tool"></i>
                                        <span class="hide-menu sous-menu-span">Infos techniques</span>
                                    </a>
                                </li>
                                <li class="sidebar-item sous-menu">
                                    <a class="sidebar-link" href="{{ path('rgpd') }}" aria-expanded="false"
                                       title="Nettoyage pour conformité au RGPD">
                                        <i class="ti ti-vacuum-cleaner"></i>
                                        <span class="hide-menu sous-menu-span">Nettoyage RGPD</span>
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% if is_granted('ROLE_PRESIDENT') %}
                            <li class="nav-small-cap">
                                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                                <span class="hide-menu">PRESIDENT</span>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="{{ path('president_accueil') }}"
                                   title="Accéder à l'espace Président" aria-expanded="false">
                                <i class="ti ti-crown"></i>
                                <span class="hide-menu">Président</span>
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}
                    <li class="nav-small-cap">
                        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                        <span class="hide-menu">AUTH</span>
                    </li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{{ path('deconnexion') }}" aria-expanded="false" title="Déconnexion">
                                            <span>
                                              <i class="ti ti-login"></i>
                                            </span>
                                <span class="hide-menu">Déconnexion</span>
                            </a>
                        </li>
                    {% else %}
                        {% if mode_auth == 'saml2' %}
                            <li class="sidebar-item">
                                <a class="sidebar-link" href=" {{ path('connexion') }}" aria-expanded="false" title="Connexion">
                                                <span>
                                                  <i class="ti ti-login"></i>
                                                </span>
                                    <span class="hide-menu">Connexion</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if mode_auth == 'openid' %}
                            <li class="sidebar-item">
                                <a class="sidebar-link" href=" {{ path('remlogin') }}" aria-expanded="false" title="Connexion">
                                                <span>
                                                  <i class="ti ti-login"></i>
                                                </span>
                                    <span class="hide-menu">Connexion</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if app.debug %}
                            <li class="sidebar-item">
                                <a class="sidebar-link" href=" {{ path('connexion_dbg') }}" aria-expanded="false" title="Connexion (DBG)">
                                                <span>
                                                  <i class="ti ti-login"></i>
                                                </span>
                                    <span class="hide-menu">Connexion (DBG)</span>
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}
                    <li class="nav-small-cap">
                        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                        <span class="hide-menu">EXTRA</span>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="{{ path('aide') }}" aria-expanded="false" title="Aide">
                                        <span>
                                          <i class="ti ti-mood-happy"></i>
                                        </span>
                            <span class="hide-menu">Aide</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link sidebar-icon" href="https://tickets.mesonet.fr/" title="Ticket">
                                <span>
                                    <i class="ti ti-ticket"></i>
                                </span>
                            <span class="hide-menu">Ticket</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link sidebar-icon" href="https://www.mesonet.fr/documentation/user-documentation/" title="Documentation">
                                <span>
                                    <i class="ti ti-book"></i>
                                </span>
                            <span class="hide-menu">Documentation</span>
                        </a>
                    </li>
                    {% if mentions_legales != null %}
                    <li class="sidebar-item">
                    <a class="sidebar-link sidebar-icon" href="{{ asset(mentions_legales) }}" target="_blank"
                                 title="Lire les mentions légales">
                            <span>
                                <i class="ti ti-lock-access"></i>
                            </span>
                            <span class="hide-menu">Mentions légales </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if mesoc_cga != null %}
                        <li class="sidebar-item">
                        <a href="{{ asset(mesoc_cga) }}" target="_blank" class="sidebar-link sidebar-icon"
                                     title="Lire les conditions Générales d'Attribution">
                                <span>
                                    <i class="ti ti-file"></i>
                                </span>
                                <span class="hide-menu">CGA</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-icon" href="{{ path('gerer_clessh') }}" title="Gérer vos clés ssh">
                                <span>
                                    <i class="ti ti-key"></i>
                                </span>
                                <span class="hide-menu">Clés ssh</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
        <!--  Header Start -->
        <header class="app-header">
            <nav class="navbar navbar-expand-lg navbar-light">
                <ul class="navbar-nav">
                    <li class="nav-item d-block d-xl-none">
                        <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse">
                            <i class="ti ti-menu-2"></i>
                        </a>
                    </li>
                </ul>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
                    <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
                        <li class="nav-item dropdown">
                            <a class="nav-link nav-icon-hover" href="" id="drop2" data-bs-toggle="dropdown"
                               aria-expanded="false"
                               title="Notifications">
                                <i class="ti ti-bell-ringing"></i>
                                {% set notifs = [] %}
                                {% for notification in app.user.notifications %}
                                    {% if notification.lu == false  %}
                                        {% set notifs = notifs|merge([notification]) %}
                                    {% endif %}
                                {% endfor %}
                                {% set taille = notifs|length  %}
                                {% if taille >0 %}
                                    <span class="badge rounded-pill badge-notification bg-danger" title="nombres de notifications">{{ app.user.notifications|length }}</span>
                                {% endif %}
                                {% if taille >100 %}
                                    <span class="badge rounded-pill badge-notification bg-danger" title="nombres de notifications">99+</span>
                                {% endif %}
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up"
                                 aria-labelledby="drop2">
                                <div class="message-body justify-content-center">
                                    {% include "notification/notifications.html.twig" %}
                                    <a href="{{ path('notifications') }}"
                                       class="d-flex align-items-center justify-content-center gap-2 dropdown-item"
                                       title="Voire plus">
                                        <p class="mb-0 fs-3">Voir plus</p>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link nav-icon-hover" href="" id="drop2" data-bs-toggle="dropdown"
                               aria-expanded="false"
                               title="Utilisateur">
                                <img class="small-img" src="{{ path('get_avatar', {individu: app.user.id}) }}" alt="Photo de profil"/>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up"
                                 aria-labelledby="drop2">
                                <div class="message-body">
                                    <a href="{{ path('profil')}}" class="d-flex align-items-center gap-2 dropdown-item" title="Mon profile">
                                        <img class="small-img" src="{{ path('get_avatar', {individu: app.user.id}) }}" alt="Photo de profil"/>
                                        <p class="mb-0 fs-3">Mon profile</p>
                                    </a>
                                    <a href="{{ path('profil')}}" class="d-flex align-items-center gap-2 dropdown-item" title="Mon compte">
                                        <i class="ti ti-mail fs-6"></i>
                                        <p class="mb-0 fs-3">Mon compte</p>
                                    </a>
                                    <a href="{{ path('notifications')}}" class="d-flex align-items-center gap-2 dropdown-item" title="Mon tâches">
                                        <i class="ti ti-list-check fs-6"></i>
                                        <p class="mb-0 fs-3">Mes tâches</p>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                {% endif %}
            </nav>
        </header>


        <div class="sous_header">
            <p>&nbsp;</p>
            <div class="profil">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div>
                        {% if is_granted('IS_IMPERSONATOR') %}
                            <p> SUDO par {{ app.token.originalToken.user }}</p>
                        {% endif %}
                        <p>
                            {% if app.debug %}
                        <p>Connecté en tant que : <a href="{{ path('profil') }}"
                                                     class="nom_profil">{{ app.user.prenom }} {{ app.user.nom }}
                                ({{ app.user.id }})</a>
                            {% else %}
                        <p>Connecté en tant que : <a href="{{ path('profil') }}"
                                                     class="nom_profil">{{ app.user.prenom }} {{ app.user.nom }}
                                ({{ app.user.id }})</a>
                            {% endif %}
                    </div>
                {% else %}

                {% endif %}

            </div>
        </div>

        {% set scrollTop = "fleche" %}

        <div id="scrollTop">
            <a class="fleche">
                {{ icones.scrollTop }}
            </a>
        </div>


        {% endif %} {# si ajax on saute tout ça #}
        {% endblock header %}

        {# ###################################################################### #}
        <div class="container-fluid">
                    {% block menu %}
                    {% endblock menu %}

                    {% block before_body %}
                    {% endblock before_body %}

                    {% block body %}
                    {% endblock body %}

                    {% block after_body %}
                    {% endblock after_body %}
        </div>
    </div>
    <br><br>
    {% block footer %}
        {# footer #}
        <footer class="footer">
            <div>
                {{ infos.gramc_date('Y-m-d') }}
            </div>
            <div class="liens_importants_footer">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <span>gramc-meso {{ infos.VERSION }} - design <a
                                href="https://fr.linkedin.com/in/ugo-mariotto-952aa21b8"
                                target='_blank'>Ugo Mariotto</a>  and <a
                                href="https://adminmart.com/product/modernize-bootstrap-5-admin-template/"
                                target='_blank'>adminmart</a> - <a href="mailto:{{ mailadmin }}"
                                                                      class="lien_footer">{{ mailadmin }}</a></span>
                {% else %}
                    <span>gramc-meso {{ infos.VERSION }} - design <a
                                href="https://fr.linkedin.com/in/ugo-mariotto-952aa21b8"
                                target='_blank'>Ugo Mariotto</a>  and <a
                                href="https://adminmart.com/product/modernize-bootstrap-5-admin-template/"
                                target='_blank'>adminmart</a> - {{ infos.mail_replace(mailadmin) }}</span>
                {% endif %}

            </div>

        </footer>

    {% endblock footer %}
</div>
</body>

</html>

