{% extends 'default/base.html.twig' %}
{% import "default/icone.html.twig" as icones %}


{% block body %}
    <section>
        <h1>Laboratoires enregistrés dans gramc</h1>

        {% import "default/macros.html.twig" as gramcmacros %}
        {{ gramcmacros.menu(menu) }}

        <table id="datatable" class="display">
            <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Acronyme</th>
                <th>Libellé</th>
            </tr>
            </thead>
            <tbody>
            {% for labo in laboratoires %}
                <tr>
                        <td >
                            <a class="suppression" href="{{ path('supprimer_laboratoire',{'id' : labo.idLabo }) }}"
                               title="Supprimer">
                                {{ icones.supprimer() }}</a>
                            <a class="modification" href="{{ path('modifier_laboratoire',{'id' : labo.idLabo }) }}"
                               title="Modifier le libellé">
                                {{ icones.modifier() }}
                                {% if labo.adresseip | length == 0 %}
                                    <span title="Ce laboratoire n'est pas associé à une plage d'adresses IP">{{ icones.attention(20,20) }}</span>
                                {% endif %}
                            </a>
                        </td>
                    <td> {{ labo.acroLabo }}</td>
                    <td>{{ labo.nomLabo }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th>&nbsp;</th>
                <th>Acronyme</th>
                <th>Libellé</th>
            </tr>
            </tfoot>
        </table>
    </section>

{% endblock body %}
