{% import "default/icone.html.twig" as icones %}

{% if projet.versionActive == null %}
    <em>Ce projet n'a pas encore démarré'</em>
{% else %}
    {% for s in ['TURPAN','BOREALE'] %}
        {% if ressources_conso_group[s] is defined %}
            {# TODO Corriger ça oulala #}
            {% if (s=='TURPAN' and projet.versionActive.attrHeuresUft>0)
               or (s=='BOREALE' and projet.versionActive.attrHeuresCriann>0) %}
            <h2>{{s}}</h2>
            {% set loginname = loginnames[s].nom %}
                {% for t in types %}
                    {% if t=='group' %}
                        <h3>{{ titres[t] }}</h3>
                        <ul>
                        {% for k,r in ressources_conso_group[s] %}
                            <li>
                                <div class="conso" alt="Consommation {{s}} - {{loginname}} - {{annee}} - {{r.nom}}" data-href="{{ absolute_url(path('projet_conso_ressource', { 'id': projet.idProjet, 'loginname': loginname, 'ress_id' : k, 'utype': t, 'annee' : annee }))}}" > 
                                     {{ icones.consommation }}
                                </div>
                                {{ projet }} ({{ annee }}) - {{ r.nom }}
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    {% if t=='user' and loginname != 'nologin' %}
                        <h3>{{ titres[t] }}</h3>
                        <ul>
                        {% for k,r in ressources_conso_user[s] %}
                            <li>
                                <div class="conso" alt="Consommation {{s}} - {{loginname}} - {{annee}} - {{r.nom}}" data-href="{{ absolute_url(path('projet_conso_ressource', { 'id': projet.idProjet, 'loginname': loginname, 'ress_id' : k, 'utype': t, 'annee' : annee }))}}" > 
                                     {{ icones.consommation }}
                                </div>
                                {{ loginname }} ({{ annee }}) - {{ r.nom }}
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}    
