{% extends 'default/base.html.twig' %}


{% import "default/macros.html.twig" as gramcmacros %}
{% import "default/macros.html.twig" as gramcmacros %}
{% import "default/macros_conso.html.twig" as gramcconsomacros %}

{% import _self as thismacro %}
{% import "default/icone.html.twig" as icones %}

{# ################################################# #}


{% macro ligne_projet(item,type=0) %}
    {# {dump(item.loginnames)} #}
    {% if item.collab %}
        {% if item.cpt_rall + 1 > 1 %}
        <tr class="rallonge bg-light-indigo" data-href='{{ path('consulter_projet', { 'id': item.projet.idProjet }) }}'>
        {% else %}
            <tr class="bg-light-indigo" data-href='{{ path('consulter_projet', { 'id': item.projet.idProjet }) }}' >
        {% endif %}
    {% else %}
        {% if item.cpt_rall + 1 > 1 %}
        <tr class="rallonge" data-href='{{ path('consulter_projet', { 'id': item.projet.idProjet }) }}'>
        {% else %}
            <tr data-href='{{ path('consulter_projet', { 'id': item.projet.idProjet }) }}' >
        {% endif %}
    {% endif %}

    <td>
        <span title="{{ item.meta_etat }}">{{ gramcmacros.metagraph(item.meta_etat) }}</span>
    </td>
    <td class="border-bottom-0">
        <h6 class="fw-semibold mb-0">
            {{ item.projet.idProjet }}
        </h6>
    </td>
    <td class="border-bottom-0">
        {% for s in item.loginnames|keys|sort %}
            {% if item.loginnames[s]['login'] %}
                {% if item.loginnames[s]['nom'] != 'nologin' %}
                    {{ item.loginnames[s]['nom'] }}
                {% endif %}
                {% if item.loginnames[s]['clessh'] != null %}
                    {{ item.loginnames[s]['clessh'].nom }}
                    {% if not item.loginnames[s]['clessh']['deploy'] and not item.loginnames[s]['clessh'].rvk %}
                        <span title="Vous pourrez vous connecter lorsque votre compte sera créé et votre clé déployée (il suffit d'attendre)">{{ icones.attention(20,20) }}</span>
                    {% endif %}
                    {% if item.loginnames[s]['clessh'].rvk %}
                        <span title="PROBLEME DE SECURITE - VOTRE CLE A ETE REVOQUEE">{{ icones.attention(20,20) }}</span>
                    {% endif %}
                    <span title="Changer de clé ssh"><a
                                href="{{ path('user_modif', { 'id': item.loginnames[s]['userid'] }) }}"><i class="ti ti-key-red medium-icon"></i></a></span>
                {% else %}
                    <span title="Vous devez choisir une clé avant de vous connecter"><a
                                href="{{ path('user_modif', { 'id': item.loginnames[s]['userid'] }) }}"><i class="ti ti-key-red medium-icon"></i></a></span>
                {% endif %}
            {% else %}
            {% endif %}
        {% endfor %}
    </td>

    <td rowspan="{{ item.cpt_rall + 1 }}" class="border-bottom-0">
        {% if item.projet.titre != null %}
            {{ item.projet.titre }}
        {% else %}
            -
        {% endif %}
    </td>

    <td rowspan="{{ item.cpt_rall + 1 }}" class="border-bottom-0">
        {% if item.meta_etat in ['ACCEPTE','NONRENOUVELE' ] %} {{ item.projet.versionactive.limitdate|date('Y-m-d') }}
        {% elseif item.meta_etat in ['EDITION','EXPERTISE' ] %} ??
        {% elseif item.meta_etat in ['STANDBY'] %} STANDBY
        {% else %} TERMINE
        {% endif %}
    </td>



    <td rowspan="{{ item.cpt_rall + 1 }}" class="consommation seuil_0 border-bottom-0">
    {% if item.projet.versionactive != null %}
        {% set dacs = serviceDacs.getDacsByNr(item.projet.versionactive) %}
        {% set cpTot = 0 %}
        {% set consoTot = 0 %}
        {% set consomationTot = 0 %}
            {% for nr in dacs|keys|sort %}
                {% if serviceDacs.getTodofConsolide(dacs[nr]) %}
                    <span title="Cette attribution n'a pas encore été prise en compte par le centre hébergeur">
                    {{ icones.attention(20,20) }}
                    </span>
                {% endif %}
                {% set consoTot = consoTot + serviceDacs.getAttributionConsolidee(dacs[nr]) %}
                {% set consomationTot = consomationTot + dacs[nr].consommation %}
                {% if serviceDacs.getAttributionConsolidee(dacs[nr]) > 0 %}
                    {% set cp = 100 * dacs[nr].getConsommation() / serviceDacs.getAttributionConsolidee(dacs[nr]) %}
                {% else %}
                    {% set cp = 0 %}
                {% endif %}
                {% set cpTot= cpTot + cp %}
            {% endfor %}
            {% set ccp='' %}
            {% if cpTot > conso_seuil_1 %}
                {% set ccp = 'class=conso_seuil_1' %}
            {% endif %}
            {% if cpTot > conso_seuil_2 %}
                {% set ccp = 'class=conso_seuil_2' %}
            {% endif %}
                <div class="progress">
                    <div class="progress-bar" style="width: {{ 100*consomationTot/consoTot }}%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{ 100*consomationTot/consoTot }}%</div>
                </div>
                <span class="small-legend"> {{ consomationTot }}h / {{ consoTot }}h</span>
    {% else %}
        -
    {% endif %}
    </td>


    <td>
    {% if( item.projet.derniereVersion.isEdited ) %}
        <a href="{{ path('version_avant_supprimer', { 'id': item.projet.derniereVersion.idVersion }) }}"
           title="Supprimer le projet {{ item.projet.idProjet }}">
            {{ icones.supprimer }}
        </a>
    {% else %}
        &nbsp;
    {% endif %}
    </td>

    </tr>




    {% set num_rallonge = 1 %}
    {% for rallonge in item.rallonges %}
        <tr>
            <td class="border-bottom-0">{{ gramcmacros.metagraph(serviceRallonges.getMetaEtat(rallonge)) }}</td>
            <td class="border-bottom-0">
                <a href="{{ path('consulter_rallonge', { 'id': rallonge.idRallonge }) }}"
                        {% if serviceRallonges.getMetaEtat(rallonge) == 'EDITION' %}
                   title="Consulter cette demande d'extension">
                    {{ icones.modifier }}


                    {% else %}
                        title="Consulter cette demande d'extension" >{{ icones.details }}
                    {% endif %}
                </a>
            </td>
            <td>
                {% if num_rallonge == 1 %}
                    <strong><span title="ou demande au fil de l'eau, ou rallonge">Extension</span></strong>
                {% else %}
                    <strong><span
                                title="ou demande au fil de l'eau, ou rallonge">Extension {{ num_rallonge }}</span></strong>
                {% endif %}
            </td>
            {% set num_rallonge = num_rallonge + 1 %}
        </tr>
    {% endfor %}

{% endmacro ligne_projet %}

{% macro fenetre_pwd(item) %}
    {% if item.passwd != null %}
        <div id="dialog_{{ item.projet }}" class="invisible_if_no_js">
            <h2>Vos identifiants pour le projet {{ item.projet }}</h2>
            <p>Vos identifiants pour le projet {{ item.projet }} figurent ci-dessous:</p>
            <ul>
                <li>Nom d'utilisateur: <tt><strong>{{ item.login }}</strong></tt></li>
                <li>Mot de passe: <tt><strong>{{ item.passwd }}</strong></tt></li>
            </ul>

            <p>Vous devez maintenant vous connecter <strong>avant le {{ item.pwd_expir|date('d/m/Y') }}</strong> sur le
                supercalculateur en utilisant les identifiants ci-dessus, puis <strong>changer votre mot de
                    passe</strong>.
                Pour cela:
            <ol>
                <li>Connectez-vous sur Olympe</li>
                <li>Tapez:
                    <pre>
ssh olympelogin1
passwd
</pre>
                </li>
                <li>Une fois le changement effectué, déconnectez-vous</li>
                <li>Le mot de passe sera mis à jour dans les 10 minutes.</li>
            </ol>
            </p>
        </div>
    {% endif %}
{% endmacro fenetre_pwd %}

{# ################################################# #}


{% block myjavascripts %}
    <script type="text/javascript" src="{{ asset('js/canvas_conso.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/projet.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/gerer_utilisateurs.js') }}"></script>
{% endblock myjavascripts %}



{# ######################################################################### #}

{% block body %}

    <div id="dialog-compta"></div>

    <section id="section_demandeur" style="stroke:black">

        {% if creation == 1 %}
            <div class="information attention">
                <h2>Création de projet</h2>
                <p>Vous ne pouvez pas créer de projet, vous devez être un membre permanent d'un laboratoire</p>
            </div>
        {% endif %}
        <h1>Vos projets</h1>

        {{ gramcmacros.menu(menu) }}


        {# ######################################################################### #}

        {% if projets_resp != null %}
            <section class="section_responsable">
                <div class="card">
                    <div class="card-body p-4">
                        <h5 class="card-title fw-semibold mb-4">En tant que responsable:</h5>
                        <div class="table-responsive">
                            <table id="datatable" class="display">
                                <thead class="text-dark fs-4">
                                <tr>
                                    <th>État</th>
                                    <th>Numéro</th>
                                    <th>Action</th>
                                    <th >Titre</th>

                                    <th >Fin</th>
{#                                    {% if false %}#}
{#                                        <th class="border-bottom-0 ">#}
{#                                            <h6 class="fw-semibold mb-0">Consommation</h6>#}
{#                                        </th>#}
{#                                    {% endif %}#}
                                    <th>Resources</th>
                                    <th>&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in  projets_resp %}
                                    {{ thismacro.ligne_projet(item) }}
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>État</th>
                                        <th>Numéro</th>
                                        <th>Action</th>
                                        <th>Titre</th>
                                        <th>Fin</th>
                                        {#                                    {% if false %}#}
                                        {#                                        <th class="border-bottom-0 ">#}
                                        {#                                            <h6 class="fw-semibold mb-0">Consommation</h6>#}
                                        {#                                        </th>#}
                                        {#                                    {% endif %}#}
                                        <th>Resources</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                </div>

                {% for item in  projets_resp %}
                    {{ thismacro.fenetre_pwd(item) }}
                {% endfor %}

            </section>
        {% endif %}

        <input id="conso_seuil_2" value="{{ conso_seuil_2 }}" type="hidden">
        <input id="conso_seuil_1" value="{{ conso_seuil_1 }}" type="hidden">

        {# ######################################################################### #}

        {% if projets_term != null %}
            <section class="section_termine" style="stroke:black;">

                <h3>Projets anciens ou terminés:</h3>


                <div class="information attention">
                    <h2>Anciens projets</h2>
                    Ces projets sont rappelés ici pour mémoire, mais vous ne <strong>pouvez pas</strong> les renouveler
                    soit parce qu'ils sont terminés
                    soit parce que vous ne faites plus partie de leurs collaborateurs.
                    <br>
                    Vous pouvez toutefois les éditer pour <strong>ajouter des publications pour lesquelles vous avez
                        utilisé les heures attribuées.</strong>
                    <br>
                    Si vous souhaiter demander des ressources, vous devez créer un nouveau projet
                </div>


                <table class="projet">

                    <thead>
                    <tr>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">État</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Numéro</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Titre</h6>
                        </th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for item in  projets_term %}
                        <tr data-href="{{ path('consulter_projet', { 'id': item.idProjet }) }}">
                            <td class="border-bottom-0">{{ gramcmacros.metagraph('termine') }}</td>
                            <td class="border-bottom-0">{{ item.idProjet }}</td>
                            <td class="border-bottom-0">{{ item.titre }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">État</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">Numéro</h6>
                        </th>
                        <th class="border-bottom-0 ">
                            <h6 class="fw-semibold mb-0">Action</h6>
                        </th>
                        <th class="border-bottom-0 ">
                            <h6 class="fw-semibold mb-0">Titre</h6>
                        </th>

                        <th class="border-bottom-0 ">
                            <h6 class="fw-semibold mb-0">Fin</h6>
                        </th>
                        {% if false %}
                            <th class="border-bottom-0 ">
                                <h6 class="fw-semibold mb-0">Consommation</h6>
                            </th>
                        {% endif %}
                        <th class="border-bottom-0 ">
                            <h6 class="fw-semibold mb-0">Resources</h6>
                        </th>
                        <th>&nbsp;</th>
                    </tr>
                    </tfoot>

                </table>
            </section>



        {% endif %}

        {# ######################################################################### #}


        {% if projets_resp == null  and projets_term == null %}
            <div class="information ok">
                Les utilisateurs qui ont le droit suffisant pour demander eux-mêmes des ressources sur {{ mesoc }}
                peuvent cliquer sur le lien 'Nouveau projet' pour faire une demande d'attributions de ressources.
                <br>
                Les autres utilisateurs doivent se rapprocher de leur équipe de recherche.
                <br>
                Il n'est possible de demander des ressources sur {{ mesoc }} que pendant une session d'attribution.
            </div>
        {% endif %}

    </section>
{% endblock body %}
