{% extends 'default/base.html.twig' %}
{% import "default/macros.html.twig" as gramcmacros %}
{% import "projet/terminer.html.twig" as terminermacros %}
{% import "default/icone.html.twig" as icones %}

{% block myjavascripts %}
<script  type="text/javascript" src="{{ asset('js/projets_experts.js') }}" ></script>
{% endblock myjavascripts %}

{% block body %}

<section id="section_bilans_listes"  style="stroke:black">

    <h2>Projets dynamiques</h2>

    {# SUPPRIME PROVISOIREMENT
    <div class="formulaire inputrond submitdyn">
        {{ form_start(form) }}
        {{ form_widget(form.annee) }}{{ form_widget(form.submit) }}
        {{ form_end(form) }}

        <form action="{{ path('projet_annee_csv', {'annee': annee }) }}">
        <input class="telecharger_csv" type="submit" value="Télécharger en csv pour l'année {{ annee }}" />
        </form>
    </div>
    #}
    
    <div class="tableaux">
        <div class="bilan_legende">
            <div class="bilan">
            <table>
                <tbody>
                    <tr><th colspan="3">Etats des projets dynamiques</th></tr>
                    {% for etat in ['termine','standby','accepte','refuse','edition','expertise','nonrenouvele'] %}
                    {% if ( attribute(etat_projet,etat) > 0 ) %}
                    <tr>
                        <th>{{ etat }}</th>
                        <td>{{ attribute(etat_projet,etat) }}</td>
                        <td><input class="cb" id="{{etat}}" checked="checked" type="checkbox"></td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    <tr>
                        <th>Total</th>
                        <td>{{ etat_projet.total }}</td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr><th colspan="3">Ressources attribuées</th></tr>
                    {% for r in serviceRessources.getnoms %}
                    <tr>
                        <th>{{r}}</th>
                        <td>{{ total.dyn.attribution[r] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>

        <div class="liste">
        <div id="projets_tous_wrapper" class="dataTables_wrapper no-footer">
            <table id="projets_tous" class="dataTable no-footer" role="grid">
                <thead>
                    <tr role="row">
                        {# <th class="sorting_asc" tabindex="0" aria-controls="projets_tous" rowspan="1" colspan="1" style="width: 30px;" aria-sort="ascending" aria-label=": activate to sort column descending"></th> #}
                        <th class="sorting_asc" tabindex="0" aria-controls="projets_tous" rowspan="1" colspan="1" style="width: 30px;" aria-sort="ascending" aria-label=": activate to sort column descending"></th>
                        <th class="sorting" tabindex="0" aria-controls="projets_tous" rowspan="1" colspan="1" style="width: 69px;" aria-label="Numéro: activate to sort column ascending">N°</th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 0px;" aria-label=""></th>
                        <th class="sorting" tabindex="0" aria-controls="projets_tous" rowspan="1" colspan="1" aria-label="Etat: activate to sort column ascending" title="Etat" >E</th>
                        <th class="sorting" tabindex="0" aria-controls="projets_tous" rowspan="1" colspan="1" aria-label="Titre: activate to sort column ascending">Titre</th>
                        <th class="sorting" tabindex="0" aria-controls="projets_tous" rowspan="1" colspan="1" aria-label="Thématique: activate to sort column ascending">Thématique</th>
                        <th class="sorting" tabindex="0" aria-controls="projets_tous" rowspan="1" colspan="1" aria-label="Responsable: activate to sort column ascending">Responsable</th>
                        <th class="sorting" tabindex="0" aria-controls="projets_tous" rowspan="1" colspan="1" aria-label="Laboratoire: activate to sort column ascending">Laboratoire</th>
                        <th class="sorting" tabindex="0" aria-controls="projets_tous" rowspan="1" colspan="1" aria-label="Nb de versions: activate to sort column ascending">Nb de versions</th>
                        <th class="sorting" tabindex="0" aria-controls="projets_tous" rowspan="1" colspan="1" aria-label="Date de fin: activate to sort column ascending">Début</th>
                        <th class="sorting" tabindex="0" aria-controls="projets_tous" rowspan="1" colspan="1" aria-label="Date de fin: activate to sort column ascending">fin</th>
                        <th class="sorting" tabindex="0" aria-controls="projets_tous" rowspan="1" colspan="1" aria-label="Fiche projet: activate to sort column ascending">Fiche projet</th>
                        {% for r in serviceRessources.getNoms %}
                            <th class="sorting" tabindex="0" aria-controls="projets_tous" rowspan="1" colspan="1" aria-label="Attr {{r}}: activate to sort column ascending" title="Heures attribuées sur {{r}}">{{r}}</th>
                        {% endfor %}

                    </tr>
                </thead>
    
                <tbody>
                    {% for item in data %}
                    <tr role="row" class="odd" style="stroke:black">
    
                        {# Sans doute à virer si on adopte un fonctionnement entièrement automatique des suppressions de projets et comptes
                        <td class="sorting_1">
                        {% if item.renouvelable %}
                            {% if (item.metaetat == 'standby' or item.metaetat == 'agarder') %}
                                {% if item.projet.nepasterminer==false %}
                                    {{ terminermacros.onpeutterminer(item.projet) }}
                                {% else %}
                                    {{ terminermacros.nepasterminer(item.projet) }}
                                {% endif %}
                            {% endif %}
                         {% endif %}
                        </td>
                        #}
                        <td>
                            {% if( item.metaetat == 'expertise') %}
                            <a class="arriere" href="{{ path('back_version', { 'id': item.projet.idProjet }) }}" title="Revenir en édition">
                                {{ icones.back(25, 25) }}
                            </a>
                            {% elseif( item.metaetat == 'edition') %}
                            <a href="{{ path('fwd_version', { 'id': item.projet.idProjet }) }}" title="Envoyer pour expertise">
                                {{ icones.forward(25,25) }}
                            </a>
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </td>
                        <td>{% if serviceProjets.getTodofConsolide(item.projet) %}
                                <span title="Une attribution n'a pas été prise en compte par le centre hébergeur">{{icones.attention(20,20)}}</span>
                            {%endif%}
                            {{ item.projet.idProjet }}
                        </td>
                        <td>
                            <a href="{{ path('consulter_projet', { 'id': item.projet.idProjet }) }}" title="Consulter le projet">
                                {{icones.details}}
                            </a>
                        </td>
    
                            <td class="{{ item.metaetat|lower }}">
                                {{ gramcmacros.metagraph(item.metaetat) }}
                            </td>
    
                        <td>
                            {% if( item.version != null) %}{{ gramcmacros.afftitre(item.version.prjtitre) }}{% endif %}
                        </td>
                        {% if( item.version != null and item.version.prjThematique != null ) %}
                        <td class="t{{ item.version.prjThematique.idThematique }}">{{ item.version.prjThematique }}
                        {% else %}
                        <td>
                        {% endif %}
                        </td>
                        <td>
                            {% if( item.responsable != null) %}
                            {% if is_granted('ROLE_ADMIN') %}
                            <a class="sudo" href="{{ path('sudo',  { 'id': item.responsable.id }) }}?" title="Changer d'identité">
                                {{icones.sudo(20,20)}}
                            </a>
                            {% endif %}
                            <a href="mailto:{{ item.responsable.mail }}" title="Envoyer un courriel au responsable à l'adresse {{ item.responsable.mail }}">
                                {{icones.mail_send}}
                            </a>
                            {{ item.responsable.prenom }} {{ item.responsable.nom }}
                            {% endif %}
                        </td>
                        <td>
                            {% if( item.version != null) %}<span title="{{ item.version.PrjLLabo }}">{{ item.version.acroLaboratoire }}</span>{% endif %}
                        </td>
                        <td>{{ item.count }}</td>
                        <td>{% if item.version.startdate != null %}{{ item.version.startdate|date('Y-m-d')}}{% else %} - {% endif %}</td>
                        <td>{% if item.version.limitdate != null %}{{ item.version.limitdate|date('Y-m-d')}}{% else %} - {% endif %}</td>
                        <td class="prj_fiche_val">
                            {% if serviceVersions.issigne(item.version) %}
                            <a href="{{ path('signature',  { 'id': item.version.idVersion }) }}?">{{icones.pdf(25,25)}}</a><br>
                            <small>({{ serviceVersions.sizesigne(item.version) }}K)</small>
                            {% else %}
                            -
                            {% endif %}
                        </td>
                        {% for r in serviceRessources.getressources %}
                        <td>{% if serviceRessources.nomcomplet(r) in item.dacs|keys %}
                                {% if serviceDacs.getTodofConsolide(item.dacs[serviceRessources.nomcomplet(r)]) %}
                                    <span title="Cette attribution n'a pas été prise en compte par le centre hébergeur">
                                        {{icones.attention(20,20)}}
                                    </span>
                                {%endif%}
                                {% if serviceDacs.getAttributionConsolidee(item.dacs[serviceRessources.nomcomplet(r)]) > 0 %}
                                    {% set cp = 100 * item.dacs[serviceRessources.nomcomplet(r)].getConsommation() / serviceDacs.getAttributionConsolidee(item.dacs[serviceRessources.nomcomplet(r)]) %}
                                {% else %}
                                    {% set cp = 0 %}
                                {% endif %}
                                {% set ccp='' %}
                                {% if cp > conso_seuil_1 %}
                                    {% set ccp = 'class=conso_seuil_1' %}
                                {% endif %}
                                {% if cp > conso_seuil_2 %}
                                    {% set ccp = 'class=conso_seuil_2' %}
                                {% endif %}

                                <span title="attribution">{{ serviceDacs.getAttributionConsolidee(item.dacs[serviceRessources.nomcomplet(r)])}}</span> - <span title="Consommation ({{cp|number_format(0, ',', ' ')}} %)" {{ccp}}>{{ item.dacs[serviceRessources.nomcomplet(r)].getConsommation()}}</span>
                            {% else %}
                                &nbsp;-&nbsp;
                            {% endif %} </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
               </tbody>
            </table>
        </div>
        </div>

    </div>
    <div id="formulaire_confirmation"></div>
</section>
{% endblock %}
