{% extends 'default/base.html.twig' %}
{% import "default/macros.html.twig" as gramcmacros %}
{% import "default/icone.html.twig" as icones %}

{% block body %}
<section style="stroke:black">
    <h1>Ressources enregistrées dans gramc</h1>

    {{ gramcmacros.menu(menu) }}
    
    <table id="datatable" class="display" >
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Serveur</th>
            <th >Nom</th>
            <th>Description</th>
            <th>Documentation</th>
            <th>Valeur max</th>
            <th>Unité</th>
            <th>CO<sub>2</sub><br><small>g/unité/h</small></th>
        </tr>
    </thead>
    <tbody>
    {% for r in ressources %}
        <tr>
            <td>
                <a class="suppression" href="{{ path('supprimer_ressource',{'id' : r.id }) }}" title="Supprimer">
                {{ icones.supprimer }}
                </a>
                <a class="modification" href="{{ path('modifier_ressource',{'id' : r.id }) }}" title="Modifier la ressource">
                    {{ icones.modifier }}
                </a>
            </td>
            <td>{{ r.serveur }}</td>
            <td>{{ r.nom }}</td>
            <td>{{ gramcmacros.tronquer_chaine_2(r.desc) }}</td>
            <td>{% if r.docurl == "" %}{{ icones.refuse }} {% else %} {{ icones.valide }} <a href="{{ r.docurl }}" target="_blank">{{ gramcmacros.tronquer_chaine_2(r.docurl,10) }} </a></td>{% endif %}
            <td> {{ r.maxDem }}</td>
            <td> {{ r.unite }}</td>
            <td> {{ r.co2}}</td>
        </tr>
    {% endfor %}
    </tbody>
        <tfoot>
        <tr>
            <td>&nbsp;</td>
            <th>Serveur</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Documentation</th>
            <th>Valeur max</th>
            <th>Unité</th>
            <th>CO<sub>2</sub><br><small>g/unité/h</small></th>
        </tr>
        </tfoot>
    </table>
</section>

{% endblock body  %}
