{% extends 'default/base.html.twig' %}
{% import "default/icone.html.twig" as icones %}
{% block body %}
    <h1>Édition d'établissement</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}
    <ul>
        <li>
            {{ include('default/_delete.html.twig',{id:etablissement.id, route:'etablissement_delete_cascade_null',print:
                'Supprimer (en gardant les données associées)'
            }) }}
        </li>
        <li>
            <a href="{{ path('gerer_etablissements') }}">Retour à la liste</a>
        </li>
    </ul>
{% endblock %}
