{% extends 'default/base.html.twig' %}
{% import "default/icone.html.twig" as icones %}
{% block body %}
    <section>
    <h1>Etablissements</h1>
            <ul class="display-flex align-center justify-content-end">
                <li class="justify-content-end">
                    <a href="{{ path('etablissement_new') }}?" title="Créer un établissement">{{ icones.nouveauUser()}}Nouvel établissement</a>
                </li>
            </ul>
        <div class="formulaire inputrond mb-3">
            {{ form_start(form) }}
            {{ form_widget(form.nomEtablissement) }}
            {{ form_widget(form.filtrer)}}
            {{ form_end(form) }}
        </div>
        <table id="etablissement" style="stroke: black">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for etablissement in etablissements %}
                <tr>
                    <td>{{ etablissement.idEtab }}</td>
                    <td><a href="{{ path('etablissement_show', { 'id': etablissement.idEtab }) }}">{{ etablissement.libelleEtab }}</a></td>

                    <td>
                        {{  include('etablissement/_actions.html.twig',{etablissement:etablissement}) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
