{% extends 'default/base.html.twig' %}
{% import "default/icone.html.twig" as icones %}
{% block body %}
    <section id="section_bilans_listes" style="stroke: black">
    <h1>Etablissements</h1>
        <nav><ul><li>
                    <a id="ajout" class="lien_actif" href="{{ path('etablissement_new') }}?" title="Créer un établissement">{{ icones.nouveauUser()}}Nouvel établissement</a>
                </li></ul></nav>
        <div class="liste">
        <table>
        <thead>
            <tr>
                <th>nom</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etablissement in etablissements %}
            <tr>
                <td><a href="{{ path('etablissement_show', { 'id': etablissement.idEtab }) }}">{{ etablissement.libelleEtab }}</a></td>
                <td>{{ etablissement.idEtab }}</td>
                <td>
                    {{  include('etablissement/_actions.html.twig',{etablissement:etablissement}) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>

    <ul>
        <li>
            <a href="{{ path('etablissement_new') }}">Create a new etablissement</a>
        </li>
    </ul>
    </section>
{% endblock %}
