    {% extends 'default/base.html.twig' %}
{% import "default/icone.html.twig" as icones %}
{% block body %}
    <section>
    <h1>Etablissements</h1>
            <ul class="display-flex align-center justify-content-end">
                <li class="justify-content-end">
                    <a href="{{ path('etablissement_new') }}?" title="Créer un établissement">{{ icones.nouveauUser()}}Nouvel établissement</a>
                </li>
            </ul>
        <table id="datatable" class="display">
            <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Id</th>
                <th>Nom</th>
            </tr>
            </thead>
            <tbody>
            {% for etablissement in etablissements %}
                <tr>
                    <td>
                        <a class="suppression" href="{{ path('etablissement_delete',{'id' : etablissement.id }) }}" title="Supprimer">
                            {{ icones.supprimer }}
                        </a>
                        <a class="modification" href="{{ path('etablissement_edit',{'id' : etablissement.id }) }}" title="Modifier la ressource">
                            {{ icones.modifier }}
                        </a>
                    </td>
                    <td>{{ etablissement.idEtab }}</td>
                    <td><a href="{{ path('etablissement_show', { 'id': etablissement.idEtab }) }}">{{ etablissement.libelleEtab }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th>&nbsp;</th>
                <th>Id</th>
                <th>Nom</th>
            </tr>
            </tfoot>
        </table>
    </section>
{% endblock %}
