    {% extends 'default/base.html.twig' %}
{% import "default/icone.html.twig" as icones %}

{% block myjavascripts %}
<script  type="text/javascript" src="{{ asset('js/gerer_utilisateurs.js') }}"></script>
{% endblock myjavascripts %}


{% block body %}

<section id="section_bilans_listes" style="stroke: black">

    <h1>Utilisateurs de gramc</h1>


    <nav>
        <ul>
            <li>
                <a class="lien_actif-left" href="{{ path('individu_ajouter') }}?" title="Créer un utilisateur">
                    {{ icones.nouveauUser()}}Nouvel utilisateur
                </a>
            </li>
        </ul>
    </nav>

    <div class="formulaire inputrond">
    {# VIEUX
    {{ form_start(form) }}
    {{ form_row(form.all) }}
    {{ form_row(form.filtre) }}{{ form_row(form.filtrer) }}
    {{ form_end(form) }}
    #}
    </div>
    <hr class="separateur">
            <table id="datatable" class="display">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>Activé</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Courriel</th>
                        <th>Idp</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for individu in individus %}
                    <tr data-href='{{ path('individu_show', { 'id': individu.id }) }}'>
                       {% include 'individu/ligne.html.twig' %}
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>Activé</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Courriel</th>
                        <th>Idp</th>
                        <th>Date</th>
                    </tr>
                </tfoot>
            </table>
    <div id="formulaire_profil"></div>
    <div id="formulaire_thematiques"></div>

</section>
{% endblock %}

