{% extends 'default/base.html.twig' %}
{% import "default/icone.html.twig" as icones %}


{% form_theme formInd with ['form_table_layout.html.twig', _self] %}

{# ################################################################################################### #}

{% block text_widget %}
<input type="text" {{ block('widget_attributes') }} size="38" value="{{ value }}" >
{% endblock %}

{% block email_widget %}
<input type="email" {{ block('widget_attributes') }} size="38" value="{{ value }}" >
{% endblock %}

{% block _appbundle_individu_mail_label %}
<label for="mail">Courriel <span class="attention">institutionnel:</span> </label>
{% endblock %}

{% block _appbundle_individu_submit_widget %}
{{ block('submit_widget') }}
<button type="reset" id="individu_reset" style="width:10em">Effacer</button>
{% endblock %}

{% block _appbundle_individu_labo_widget %}
{{ block('choice_widget') }}
{% endblock  %}

{# ################################################################################################### #}

{% block body %}

    {% if formEppn==null %}
        {% set ajout=true %}
    {% else %}
        {% set ajout=false %}
    {% endif %}
    
    <h2>{% if ajout %}Ajouter {% else %} Modifier {% endif %} un utilisateur</h2>
    <p class="centrage"><em>Veuillez s'il vous plait renseigner tous les champs</em></p>

    <div id="profil">
    {{ form_start(formInd) }}
    <fieldset>{{ form_widget(formInd) }}</fieldset>
    {{ form_end(formInd) }}
    </div>
    <div class="flex-column">
        <h2>Roles</h2>
        <div class="roles">
        {% if( individu.valideur) == true %}
            <div class="role-choose role">
                <a class="admin " href="{{ path('plus_valideur',  { 'id': individu.id }) }}?" title="Retirer les droits de valideur">
                    {{icones.valideur(20,20)}}
                </a>
                <span>Retirer les droits de valideur</span>

            </div>
        {% else %}
            <div class=" role">
                <a class="admin " href="{{ path('devenir_valideur',  { 'id': individu.id }) }}?" title="Devenir valideur">
                    {{icones.valideur(20,20)}}
                    </a>
                <span>Devenir valideur</span>

            </div>
        {% endif %}

        {# ################################################################################################# #}

        {% if( individu.admin) == true %}
            <div class="role-choose role">
                <a class="admin " href="{{ path('plus_admin',  { 'id': individu.id }) }}?" title="Retirer les droits admin">
                    {{icones.admin(20,20)}}
                </a>
                <span>Retirer les droits admin</span>

            </div>
        {% else %}
        <div class=" role">
                <a class="admin " href="{{ path('devenir_admin',  { 'id': individu.id }) }}?" title="Devenir admin">
                    {{icones.admin(20,20)}}
                </a>
            <span>Devenir admin</span>

        </div>
        {% endif %}

        {# ################################################################################################# #}

        {% if( individu.obs) == true %}
            <div class="role-choose role">
                <a class="obs " href="{{ path('plus_obs',  { 'id': individu.id }) }}?" title="Retirer les droits obs">
                    {{icones.obs(20,20)}}
                </a>
                <span>Retirer les droits obs</span>

            </div>
        {% else %}
            <div class="role">
                <a class="obs " href="{{ path('devenir_obs',  { 'id': individu.id }) }}?" title="Devenir obs">
                    {{icones.obs(20,20)}}
                </a>
                <span>Devenir obs</span>

            </div>
        {% endif %}

        {# ################################################################################################# #}

        {% if( individu.sysadmin) == true %}
            <div class="role-choose role">
            <a class="sysadmin " href="{{ path('plus_sysadmin',  { 'id': individu.id }) }}?" title="Retirer les droits sysadmin">
                {{icones.sysadmin(20,20)}}
            </a>
                <span>Retirer les droits sysadmin</span>
        </div>
        {% else %}
            <div class=" role">
            <a class="sysadmin" href="{{ path('devenir_sysadmin',  { 'id': individu.id }) }}?" title="Devenir sysadmin">
                {{icones.sysadmin(20,20)}}
            </a>
                <span>Devenir sysadmin</span>
            </div>
        {% endif %}
        </div>
    </div>

    {% if ajout %}
    <p class="centrage"><em>Un courriel d'invitation sera envoyé à l'adresse de l'utilisateur que vous venez d'ajouter</em></p>
    {% endif %}
    
    {% if formEppn != null %}
        <div id="s_eppn">
            {% if (individu.eppn | length != 0) %}
        
                {% if formEppn != null %}
                <h2>Supprimer un eppn</h2>
                <p class="centrage"><em>Décochez les identifiants que vous souhaitez supprimer</em></p>
                
                {% form_theme formEppn 'foundation_5_layout.html.twig' %}
                {{ form_start(formEppn) }}
                <fieldset>{{ form_widget(formEppn) }}</fieldset>
                {{ form_end(formEppn) }}
                {% endif %}
            {% else %}
                <p class="centrage"><em>Cet utilisateur n'a pas d'eppn, il ne peut pas se connecter à gramc</em></p>
            {% endif %}
        </div>
    {% endif %}

    {% if formSso != null %}
    <h2>Ajouter un eppn</h2>

    <div id="a_eppn">
        {% form_theme formEppn 'foundation_5_layout.html.twig' %}
        {{ form_start(formSso) }}
        <fieldset>{{ form_widget(formSso)}}</fieldset>
        {{ form_end(formSso) }}
    </div>

    <h2>...ou envoyer une invitation</h2>

    <a class="lien_actif" href="{{ path('invitation', { 'id': individu.id }) }}"
    title="Envoyer une invitation à {{individu.prenom}} {{individu.nom}}">Inviter {{individu.prenom}} {{individu.nom}}</a>
    {% endif %}
    <ul class="bottom-menu">
        <li class="bottom-menu-item">
            <a href="{{ path('individu_gerer') }}">Back to the list</a>
        </li>
        <li class="bottom-menu-item">
            <a href="{{ path('individu_show', { 'id': individu.id }) }}">utilisateur</a>
        </li>
    </ul>
{% endblock %}
