{% extends 'default/base.html.twig' %}

{% block body %}
    <h1>Individu</h1>
    <img class="big-img mx-5" src="{{ path('get_avatar', {individu: app.user.id}) }}" alt="Photo de profil"/>
    <table>
        <tbody>
            <tr>
                <th>Creationstamp</th>
                <td>{% if individu.creationStamp %}{{ individu.creationStamp|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ individu.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ individu.prenom }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ individu.mail }}</td>
            </tr>
            <tr>
                <th>Mail secondaire</th>
                <td>{{ individu.mailSecondaire }}</td>
            </tr>
            <tr>
                <th>téléphone</th>
                <td>{{ individu.tel }}</td>
            </tr>
            <tr>
                <th>urlPerso</th>
                <td>{{ individu.urlPerso }}</td>
            </tr>
            <tr>
                <th>Admin</th>
                <td>{% if individu.admin %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Expert</th>
                <td>{% if individu.expert %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>President</th>
                <td>{% if individu.president %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if individu.statut %}{{  individu.statut }}{% endif %}</td>
            </tr>
            <tr>
                <th>Desactive</th>
                <td>{% if individu.desactive %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Idindividu</th>
                <td>{{ individu.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="bottom-menu">
        <li class="bottom-menu-item">
            <a href="{{ path('individu_index') }}">Back to the list</a>
        </li>
        <li class="bottom-menu-item">
            <a href="{{ path('individu_edit', { 'id': individu.id }) }}">Edit</a>
        </li>
        <li class="bottom-menu-item">
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
