{% extends 'default/base.html.twig' %}

{% block myjavascripts %}

{{ parent() }}

<script   src="{{ asset('js/compteur_caracteres.js') }}" ></script>

{% endblock myjavascripts %}

{% import "default/macros_panneau_enregistrer.html.twig" as panneau_enregistrer %}

{% block body %}

<section id="section_modifierProjet">

    <h1>Demande de rallonge pour le projet {{ projet }}</h1>

    <div class="information">
        <h2>A savoir...</h2>
            <p>La demande de rallonge doit être <strong>validée</strong> par Mesonet</p>
            <p>Les ressources demandées viennent en <strong>supplément</strong> des ressources qui vous ont déjà été attribuées,
            elles expirent à la date de fin du projet.
            </p>
    </div>

    <div class="information attention">
        <strong>Attention</strong> N'oubliez pas de demander au responsable du projet d'envoyer la demande en expertise
    </div>

    <form method="post" id="form_projet">

    {% if not erreurs == null %}
        <div class="information attention">
            <h2>ATTENTION</h2>
            <p>Vous devez corriger les erreurs avant d'envoyer en expertise</p>
            {% for erreur in erreurs %}
            <p><strong>ERREUR</strong>: {{ erreur }}</p>
            {% endfor %}
        </div>
    {% endif %}
    
    {{ form_start(edit_form) }}

    <div class="inputs">
{#      <div class="input">
        {{ form_label( edit_form.demHeures, "Nombre d'heures demandées") }}
        {{ form_widget( edit_form.demHeures) }}
        </div>  #}

        <div class="textarea">
                <h4 id="prj_justif_rallonge">Justification scientifique (environ 2000 caractères)<br>
                    <span id="form_prjJustifRallonge_cpt" class="petit"></span>
                </h4>
            {{ form_widget(edit_form.prjJustifRallonge,
            { 'attr': { 'class': 'compteur', 'rows' : 6, 'cols' : 70 } }) }}
        </div>

        {# Les boutons pour enregistrer / fermer #}
        {{ panneau_enregistrer.panneau_enregistrer(edit_form,false) }}

    </div>

    {{ form_end(edit_form) }}

    {% for form in ressource_form.children.ressource.children %}
        <h2>{{serviceRessources.getnomcomplet(form.vars.data.ressource)}}</h2>
    
        <div class="information ok">
            <p>{{ form.vars.data.ressource.desc|raw|nl2br }}</p>
            {% if form.vars.data.ressource.docurl != null %}
            <br><p><strong>Documentation technique</strong>: <a href="{{form.vars.data.ressource.docurl}}">{{form.vars.data.ressource.docurl}}</a></p>
            {% endif %}
        </div>
    
        <div class="inputs"  id="{{serviceRessources.getnomcomplet(form.vars.data.ressource,'__')}}" >
            <div class="input">
            <strong>{{ form.vars.data.ressource.unite }}:</strong>
            {{ form_widget( form.demande) }}
            </div>
        </div>
    {% endfor %}

</section>














   
{% endblock %}
