{% extends 'default/base.html.twig' %}
{% import "default/macros.html.twig" as gramcmacros %}
{% import "projet/terminer.html.twig" as terminermacros %}
{% import "default/icone.html.twig" as icones %}

{% block myjavascripts %}
<script  type="text/javascript" src="{{ asset('js/projets_experts.js') }}" ></script>
{% endblock myjavascripts %}

{% block body %}

<section id="section_bilans_listes"  style="stroke:black">

    <h2>Rallonges de projets dynamiques</h2>

    {# SUPPRIME PROVISOIREMENT 
    <div class="formulaire inputrond submitdyn">
        <form action="{{ path('projet_tous_csv') }}">
            <input class="telecharger_csv" type="submit" value="Télécharger en csv" />
        </form>
    </div>
    #}
            <table id="datatable" class="display">
                <thead>
                    <tr role="row">
                        <th>&nbsp;</th>
                        <th>N°</th>
                        <th>E</th>
                        <th>Titre</th>
                        <th>Thématique</th>
                        <th>Responsable</th>
                        <th>Laboratoire</th>
                        <th>Début</th>
                        <th>fin</th>
                        {% for r in serviceRessources.getNoms %}
                            <th>{{r}}</th>
                        {% endfor %}

                    </tr>
                </thead>
    
                <tbody>
                    {% for item in data %}
                    <tr role="row" class="odd" style="stroke:black">
                        <td>
                            <a href="{{ path('consulter_rallonge', { 'id': item.rallonge.idrallonge }) }}" title="Consulter la rallonge">
                                {{icones.details}}
                            </a>
                        </td>
                        <td>{{ item.rallonge }}</td>
                        <td class="{{ serviceRallonges.getmetaetat(item.rallonge)|lower }}">
                            {{ gramcmacros.metagraph(serviceRallonges.getmetaetat(item.rallonge)) }}
                        </td>
                        <td>
                            {{ gramcmacros.afftitre(item.rallonge.version.prjtitre) }}
                        </td>
                        {% if( item.rallonge.version.prjThematique != null ) %}
                        <td class="t{{ item.rallonge.version.prjThematique }}">{{ item.rallonge.version.prjThematique }}
                        {% else %}
                        <td>
                        {% endif %}
                        </td>
                        <td>
                            {% if( item.rallonge.version.responsable != null) %}
                            {% if is_granted('ROLE_ADMIN') %}
                            <a class="sudo" href="{{ path('sudo',  { 'id': item.rallonge.version.responsable.id }) }}?" title="Changer d'identité">
                                {{icones.sudo(20,20)}}
                            </a>
                            {% endif %}
                            <a href="mailto:{{ item.rallonge.version.responsable.mail }}" title="Envoyer un courriel au responsable à l'adresse {{ item.rallonge.version.responsable.mail }}">
                                {{icones.mail_send}}
                            </a>
                            {{ item.rallonge.version.responsable.prenom }} {{ item.rallonge.version.responsable.nom }}
                            {% endif %}
                        </td>
                        <td>
                            <span title="{{ item.rallonge.version.PrjLLabo }}">{{ item.rallonge.version.acroLaboratoire }}</span>
                        </td>
                        <td>{% if item.rallonge.version.startdate != null %}{{ item.rallonge.version.startdate|date('Y-m-d')}}{% else %} - {% endif %}</td>
                        <td>{% if item.rallonge.version.limitdate != null %}{{ item.rallonge.version.limitdate|date('Y-m-d')}}{% else %} - {% endif %}</td>
                        {% for r in serviceRessources.getressources %}
                        <td>{% if serviceRessources.nomcomplet(r) in item.dars|keys %}{#serviceRessources.nomcomplet(r) #}{{ item.dars[serviceRessources.nomcomplet(r)].attribution }}{% else %} &nbsp;-&nbsp;{% endif %} </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
               </tbody>
                <tfoot>
                    <tr>
                        <th>&nbsp;</th>
                        <th>N°</th>
                        <th>E</th>
                        <th>Titre</th>
                        <th>Thématique</th>
                        <th>Responsable</th>
                        <th>Laboratoire</th>
                        <th>Début</th>
                        <th>fin</th>
                        {% for r in serviceRessources.getNoms %}
                            <th>&nbsp;</th>
                        {% endfor %}
                    </tr>
                </tfoot>
            </table>
    <div id="formulaire_confirmation"></div>
</section>
{% endblock %}
