{% extends 'default/base.html.twig' %}

{% block body %}
<section>
<h2>Ajouter un service externe</h2>
    {% import "default/macros.html.twig" as gramcmacros %}
    {{ gramcmacros.menu(menu) }}
    
    {{ form_start(form) }}
    <table>
        <tr>
            <th>{{ form_label(form.username) }}</th>
            <td>{{ form_widget(form.username) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.plainPassword) }}</th>
            <td>{{ form_widget(form.plainPassword) }}</td>
        </tr>
        <tr>
            <th></th>
            <td class="inputrond submitdyn">{{ form_widget(form.submit) }}{{ form_widget(form.reset) }}</td>
        </tr>    
    </table>
    {{ form_end(form) }}
</section>

{% endblock body %}
