{% extends 'default/base.html.twig' %}
{% import "default/macros.html.twig" as gramcmacros %}
{% import "default/icone.html.twig" as icones %}

{% block body %}
<section style="stroke:black">
    <h1>Serveurs enregistrés dans gramc</h1>

    {{ gramcmacros.menu(menu) }}
    
    <table id="datatable" class="display">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Nom</th>
            <th>Description</th>
            <th>CGU</th>
            <th>Nom API</th>
            <th>Formats</th>
        </tr>
    </thead>
    <tbody>
    {% for s in serveurs %}
        <tr>
            <td>
                <a class="suppression" href="{{ path('supprimer_serveur',{'id' : s.nom }) }}" title="Supprimer">
                {{ icones.supprimer }}
                </a>
                <a class="modification" href="{{ path('modifier_serveur',{'id' : s.nom }) }}" title="Modifier le serveur">
                    {{ icones.modifier }}
                </a>
            </td>
            <td>{{ s.nom }}
            <td> {{ s.desc }}</td>
            <td>{% if s.cguurl == "" %}{{icones.refuse}}{% else %}{{icones.valide}} <a href="{{ s.cguurl }}" target="_blank">{{ gramcmacros.tronquer_chaine_2(s.cguurl) }}</a>{% endif %}</td>
            <td>{{ s.admname }}</td>
            <td>
                {% for i in s.formatSSH %}
                    &nbsp;{{ i }}
                {% endfor %}
            </td>

        </tr>
    {% endfor %}
    </tbody>
        <tfoot>
            <tr>
                <th>&nbsp;</th>
                <th>Nom</th>
                <th>Description</th>
                <th>CGU</th>
                <th>Nom API</th>
                <th>Formats</th>
            </tr>
        </tfoot>
    </table>
</section>

{% endblock body  %}
