{% extends 'default/base.html.twig' %}

{% import "default/icone.html.twig" as icones %}

{% block body %}

<section id="section_expert" style="stroke:black">
    {% if expertises|length > 0 %}
    <h2>Projets dynamiques en attente de validation</h2>
    <table id="HORS_THEM" class="projet">
    <thead>
            <tr>
                <th>Demande <br><small>(initiale ou extension)</small></th>
                <th>&nbsp;</th>
                <th>Thématique</th>
                <th>Titre</th>
                <th>Responsable</th>
                <th>Valideur en cours</th>
            </tr>
        </thead>
        <tbody>
        {% for expertise in expertises %}

            {# SOIT expertise.version SOIT expertise.rallonge DOIT est null #}
            {% if expertise.rallonge %}
                {% set version=expertise.rallonge.version %}
            {% else %}
                {% set version=expertise.version %}
            {% endif %}

            {% if( expertise.expert == true) %}
                <tr class="gras" >
            {% else %}
                <tr class="leger" >
            {% endif %}
                    <td>{{ expertise.version }}{{ expertise.rallonge }}</td>
                    <td><a href="{{ path('expertise_modifier', { 'id' : expertise.id } ) }}">
                            {{ icones.modifier }}
                        </a></td>
                    <td>{{ version.prjthematique }}</td>
                    <td>{{ version.prjtitre }}</td>
                    <td>{{ version.responsable }}</td>
                    <td>{% if expertise.expert == null %}<em>pourquoi pas vous ?</em>{% else %}{{ expertise.expert }}{% endif %}</td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="information attention">
    <em>aucun projet dynamique n'est en validation actuellement</em>
    </div>
    {% endif %}
</section>

{% endblock %}
