{% extends 'default/base.html.twig' %}

{% block myjavascripts %}
    <script type="text/javascript" src="{{asset('js/projet.js')}}" ></script>
    <script type="text/javascript" src="{{asset('js/expertiser.js')}}" ></script>
{% endblock myjavascripts %}

{% form_theme edit_form _self %}

{% import "default/icone.html.twig" as icones %}

{# ############################################################################################################################ #}

{% block body %}
<section id="expertise">

    <div class="top">
        <h2>Validation du projet {{ version.projet }}</h2>
        <p>Projet de : <span>{{ version.responsable }} - {{version.acroLaboratoire }}</span></p>

        <div class="titre">
            <h3>{{ version.prjTitre }}</h3>
        </div>
    </div>

    <div class="information ok">
        <p>Vous pouvez:
            <ul>
                <li>Accepter ou refuser le projet</li>
                <li>Entrer un commentaire à destination du responsable du projet</li>
                <li>Entrer un commentaire à destination des autres valideurs</li>
                <li>Proposer une attribution (en heures cpu)</li>
                <li>Cliquer sur le bouton <strong>Enregistrer</strong> ou <strong>Fermer</strong> pour enregistrer un brouillon de votre argumentaire</li>
                {% if peut_envoyer %}
                <li><strong>N'oubliez pas de Cliquer sur le bouton <strong>Envoyer</strong></strong> pour valider définitivement </li>
                {% endif %}
            </ul>
        </p>
    </div>

    {% if( expertise.definitif == true ) %}
        <div class="information attention">
            <h2>EXPERTISE DÉJÀ ENVOYEE</h2>
                <p>Votre expertise a déjà été envoyée, vous ne pouvez plus la modifier.</p>
        </div>
    {% endif %}
    
    {% if not peut_envoyer %}
        <div class="information attention">
            <h2>EXPERTISE EN EDITION SEULEMENT</h2>
                <p>Pour l'instant vous ne pouvez pas envoyer votre expertise.
                Vous pouvez cependant l'éditer et la sauvegarder</p>
        </div>
    {% endif %}

    <div id="menu_expertiser" class="center">
        <a href="{{ path('consulter_projet', { 'id' : expertise.version.projet.idProjet } ) }}" title="Consulter le projet" target="_blank">
            {{icones.details}}
            <p>Projet</p>
        </a>

        {% if ( rapport != null ) %}
            <a href="{{ path('rapport', { 'id' : version.idVersion }) }}" title="Rapport d'activité {{version.anneeRapport}}" target="_blank">
                {{icones.pdf}}
                <p>Rapport d'activité</p>
            </a>
        {%  endif %}

        {% if document != null %}
            <a href="{{ path('document', { 'id' : version.idVersion }) }}" title="Document attaché" target="_blank">
                {{icones.pdf}}
                <p>Doc attaché</p>
            </a>
        {% endif %}

        <a href="{{ path('consulter_publications', { 'id' : version.projet }) }}" title="Publications associées au projet {{version.projet.idProjet}}" target="_blank" >
            {{icones.pdf}}
            <p>Publications</p>
        </a>

        {# SUPPRIME POUR L'INSTANT
        {% if noconso==false %}
            {% if not isNouvelle %}
                    <a class="conso" title="consommation {{anneePrec}}" data-href="{{ absolute_url(path('projet_conso', { 'id': expertise.version.projet.idProjet, 'annee' : anneePrec })) }}">
                        {{icones.consommation}}
                        <p>Conso {{anneePrec}}</p>
                    </a>
                {% if version.session.libelleTypeSession == 'B' %}
                        <a class="conso" title="Consommation {{anneeCour}}" data-href="{{ absolute_url(path('projet_conso', { 'id': expertise.version.projet.idProjet, 'annee' : anneeCour })) }}">
                            {{icones.consommation}}
                            <p>Conso {{anneeCour}}</p>
                        </a>
                {% endif %}
            {% endif %}
        {% endif %}
        #}
        
    </div>
    <hr class="retour" />

    {% if not erreurs == null %}
    <div class="information error">
    {% for erreur in erreurs %}
    <p>ERREUR: {{ erreur }}</p>
    {% endfor %}
    </div>
    {% endif %}

   {{ form_start(edit_form) }}

        <h3>Votre proposition d'attribution</h3>

        {% if commentaireExterne %}
        <div class="input">
            <div>
                <h4>Validation :</h4>
            </div>
            <div class="validation">
                {{ form_widget(edit_form.validation)  }}
            </div>
        </div>
        {% endif %}

        {% if commentaireExterne %}
            <div class="textarea commentaire_externe">
                <div>
                    <h4>Commentaire :</h4>
                    <small>Ce commentaire sera envoyé au responsable du projet</small></th>
                </div>
                {{ form_widget(edit_form.commentaireExterne,{ 'attr': { 'class': 'compteur', 'rows' : 10, 'cols' : 100 } }) }}
            </div>
        {% endif %}

        <div class="textarea">
            <div>
                <h4>Commentaire pour les valideurs :</h4>
                <small>Ce commentaire restera au sein du groupe de valideurs</small>
            </div>
            {{ form_widget(edit_form.commentaireInterne,{ 'attr': { 'class': 'compteur', 'rows' : 10, 'cols' : 100 } }) }}
        </div>

        {% for form in ressource_form.children.ressource.children %}
            <div class="input">
                <div>
                    <h4>Attribution de la ressource {{serviceRessources.getnomcomplet(form.vars.data.ressource)}}</h4>
                    <small>Pour les 12 prochains mois</small>
                </div>
                {{ form_widget(form.attribution) }}&nbsp;<strong>{{ form.vars.data.ressource.unite }}</strong>
            </div>
        {% endfor %}
    
        <div id="panneau_enregistrer">
            <div class="panneau">
                <div class="boutons">
                    {{ form_widget(edit_form.enregistrer, {'attr': {'title' : 'Enregistrer l\'expertise et continuer'}}) }}
                    {{ form_widget( edit_form.annuler,{ 'attr': { 'title' : 'Abandonner les modifications' } }) }}
                    {{ form_widget( edit_form.fermer, { 'attr': { 'title' : 'Enregistrer et fermer l\'expertise' } }) }}
                </div>
                
                <div class="fleches">
                    {% if prev!=null %}
                        <a href="{{ path('expertise_modifier', { 'id' : prev.id } ) }}" class="fleche" title="Expertise précédente" alt="Expertise précédente">{{icones.fleche_gauche}}</a>
                    {% else %}
                        <a class="fleche disabled" title="Pas d'expertise précédente" alt="Pas d'expertise précédente">{{icones.fleche_gauche}}</a>
                    {% endif %}
                    {% if next!=null %}
                        <a href="{{ path('expertise_modifier', { 'id' : next.id } ) }}"class="fleche" title="Expertise suivante" alt="Expertise suivante">{{icones.fleche_droite}}</a>
                    {% else %}
                        <a class="fleche disabled" title="Pas d'expertise suivante" alt="Pas d'expertise suivante">{{icones.fleche_droite}}</a>
                    {% endif %}
                </div>
        
                {% if peut_envoyer %}
                    <div class="boutons envoyer">
                        {{ form_widget(edit_form.envoyer) }}
                    </div>
                {% endif %}
        
            </div>
        
            <div class="menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

    {{ form_end(edit_form) }}

    {% if noconso==false %}
    <div id="dialog-compta" class="graphique"></div>
    {% endif %}

</section>
{% endblock %}
