{% extends 'default/base.html.twig' %}

{# ############################################################################################################################ #}

{% block body %}

<section id="section_validation_expertise">
    <h1>Confirmation d'envoi de la validation</h1>

    <div class="information ok">Merci de vérifier votre validation avant envoi définitif</div>

    <div class="recapitulatif">
        <div class="premiere_partie">
            <div>
                <h4>Numéro de projet :</h4>
                <p>{{ expertise.version.projet }}</p>
            </div>
            <div>
                <h4>Validation :</h4>
                    <p><strong>
                        {% if( expertise.validation == 0 ) %}
                        REFUSER ET FERMER LE PROJET
                        {% elseif( expertise.validation == 1 ) %}
                        ACCEPTER
                        {% endif %}
                    </strong></p>
            </div>

            {% for d in version.dac %}
            <div>
                <h4>Ressources attribuées sur {{ serviceRessources.nomcomplet(d.ressource)}}</h4>
                <p>{{ d.attribution}}&nbsp;{{ d.ressource.unite}}</p>
            </div>
            {% endfor %}

            <div class="deuxieme_partie">
                <div class="commentaire">
                        <h4>Commentaire interne :</h4>
                        <p>{{ expertise.commentaireInterne }}</p>
                </div>
                <div class="commentaire">
                        <h4>Commentaire envoyé au responsable :</h4>
                        <p>{{ expertise.commentaireExterne }}</p>
                </div>
            </div>
        </div>

        <div class="information ok notifications">
            <h2>Notifications</h2>
            <p>Un courriel sera envoyé au responsable de projet avec votre décision et votre commentaire</p>
        </div>

        <div class="information attention inputrond submitdyn" >
            <strong>Confirmez-vous votre décision ? </strong><br>
            {{ form_start(edit_form)  }}
            {{ form_widget(edit_form)  }}
            {{ form_end(edit_form) }}
        </div>
    </div>
</section>
{% endblock %}
